$ticket: #f2f2f2;
$ticket-width: 640px;
$log-max-width: 800px;
$font-size-xtra-small: 10px;
$font-size-small: 12px;
$font-size-default: 16px;
$font-size-large: 32px;
$font-size-xtra-large: 48px;
$border-width: 1px;
$border-color: #0f0f0f;
$red: #e84343;
$red-hover: #ab2424;

@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@400;500&display=swap');


body {
    font: $font-size-default 'DM Mono', monospace;
}

.app-title {
    font-family: 'Ultra';
    font-size: $font-size-xtra-large;
    margin: 0 auto;
    text-align: center;
    background-color: $red;
    padding: 8px;
}

.log {
    background-color: $ticket;
    width: 100%;
    margin: 16px auto;
    padding: 16px;
    max-width: $log-max-width;
    text-align: center;

    table {
        width: 100%;
        border-spacing: 0;
    }

    td, th {
        padding: 8px;
        border: 1px solid $border-color;
    }
}

.ticket {
    margin: 16px auto;
    padding: 16px;
    background-color: $ticket;
    max-width: $ticket-width;

    .row {
        display: flex;
        width: 100%;
    }
    
    .field {
        font-family: 'DM Mono', monospace;
        border: $border-width solid $border-color;
        box-sizing: border-box;
        padding: 8px;
        flex-grow: 1;

        &--borderless {
            border: none;
        }

        &--bold {
            font-weight: bold;
        }

        &--no-grow {
            flex-grow: 0;
        }

        &--center {
            text-align: center;
        }
    }

    .fieldLabel {
        margin-bottom: 4px;
        text-transform: uppercase;
        font-size: $font-size-small;
        display: block;
    }

    .offense {
        font-size: $font-size-large;
        text-align: center;
    }

    .citationNumber {
        color: $red;
    }

    .signature {
        content: '';
        height: 24px;
        border-bottom: $border-width solid $border-color;
    }

}

.date {
    .year, .month, .day {
        text-align: center;
        display: inline-block;
        border-bottom: 1px solid $border-color;
        margin: 0 4px;
    }
    .year {
        margin-left: 0;
        min-width: 64px;
    }
    .month, .day {
        min-width: 40px;
    }
}

.barcode {
    display: inline-block;
    text-align: center;
    .stripes {
        height: 64px;
        display: flex;
    }

    .barcodeNumber__number {
        padding: 0 12px;
        letter-spacing: 2px;
    }
}

.navigation {
    text-align: center;
}
.navigationButton {
    font-family: 'Ultra';
    border: none;
    box-shadow: none;
    background-color: $red;
    font-size: $font-size-large;
    padding: 4px 12px;
    margin: 0px 8px;
    cursor: pointer;

    &:hover {
        background-color: $red-hover;
        transition: background-color .25s;
    }

    &:disabled {
        background-color: #dedede;
        transition: none;
        cursor: default;
    }
}

.logo {
    text-align: center;

    .bullIcon {
        display: block;
        text-align: center;
        font-family: 'DM Mono', monospace;
        font-size: 42px;
        height: 68px;
        width: 68px;
        border-radius: 100%;
        background-color: $border-color;
        color: $ticket;
        overflow: hidden;
    
        .horns {
            position: relative;
            transform: rotate(90deg);
            font-weight: bold;
        }
    
        .head {
            position: relative;
            top: -42px;
        }
    }
}
